@tailwind base;
@tailwind components;
.is_active {
  @apply uppercase text-xs font-bold primary_text tracking-wide text-amber-600;
}
.not_active {
  @apply uppercase text-xs font-bold primary_text tracking-wide text-white;
}
@tailwind utilities;

.logo_font {
  font-family: "Harmattan", sans-serif;
}

.primary_text {
  font-family: "Poppins", sans-serif;
}

.page_screen {
  min-height: 90vh;
}
